name: ENV VARS

on: push
permissions: write-all

env:
  WF_ENV: Available to all jobs

jobs:
  create_issue:
    runs-on: ubuntu-latest
    permissions:
      issues: write 
    steps:
      - name: Push a random file
        run: |
          pwd
          ls -a 
          git init
          git branch -M main
          git remote add origin "https://$GITHUB_ACTOR:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY.git"
          git config --global user.email "bot@email.com"
          git config --global user.name "bot"
          git fetch
          git checkout main
          git branch --set-upstream-to=origin/main
          echo pulling
          git pull
          ls -a
          echo $RANDOM >> random.txt
          ls -a
          git add -A
          git commit -m "Random file"
          echo pushing
          git push
      - name: Create issue using REST API
        run: |
          curl --request POST \
          --url https://api.github.com/repos/${{ github.repository }}/issues \
          --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
          --header 'content-type: application/json' \
          --data '{
            "title": "Automated issue for commit: ${{ github.sha }}",
            "body": "This issue was automatically created by the GitHub Action workflow **${{ github.workflow }}**. \n\n The commit hash was: _${{ github.sha }}_."
            }' \
          --fail
  log-envs:
    env:
      JOB_ENV: Available to all steps
    runs-on: ubuntu-latest
    steps:
      - name: Log env
        env: 
          STEP_ENV: Available only to this step
        run: |
          echo "WF_ENV: ${WF_ENV}"
          echo "JOB_ENV: ${JOB_ENV}"
          echo "STEP_ENV: ${STEP_ENV}"
  log-default-envs:
    runs-on: ubuntu-latest
    steps:
      - name: Log default env
        run: |
          echo "HOME: ${HOME}"
          echo "REPO: ${GITHUB_REPOSITORY}"