name: ENV VARS

on: push

env:
  WF_ENV: ${{ secrets.WF_ENV }}

jobs:
  log-envs:
    env:
      JOB_ENV: Available to all steps
    runs-on: ubuntu-latest
    steps:
      - name: Log env
        env: 
          STEP_ENV: Available only to this step
        run: |
          echo "WF_ENV: ${WF_ENV}"
          echo "JOB_ENV: ${JOB_ENV}"
          echo "STEP_ENV: ${STEP_ENV}"
  log-default-envs:
    runs-on: ubuntu-latest
    steps:
      - name: Log default env
        run: |
          echo "HOME: ${HOME}"