name: ENV vars

on: push

env:
  WF_ENV: Available to all jobs

jobs:
  log-env:
    runs-on: ubuntu-latest
    env: 
      JOB_ENV: Available to all steps in log-env job
    steps:
      - name: Log env
        env: 
          STEP_ENV: Available only to this step
        run: |
          echo "WF_ENV: ${WF_ENV}"
          echo "JOB_ENV: ${JOB_ENV}"
          echo "STEP_ENV: ${STEP_ENV}"
      - name: Log env 2
        run: |
          echo "WF_ENV: ${WF_ENV}"
          echo "JOB_ENV: ${JOB_ENV}"
          echo "STEP_ENV: ${STEP_ENV}"
  log-default-env:
    runs-on: ubuntu-latest
    steps:
      - name: Log default env
      - run: |
          echo "HOME: ${HOME}"
          echo "WORKFLOW: ${GITHUB_WORKFLOW}"
          echo "GITHUB_ACTION ${GITHUB_ACTION}"